{% extends 'layout.twig' %}

{% block body %}
  <div style="
  width: 80%;
	height: 80%;
	background-color: #EEE;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  	
  text-align:center;
	margin: auto;">

    <form method="POST" action="/users">
        <input type="hidden" name="id" value="{{user._id}}" style="">
        <label for="avatar">Avatar</label>
        <input name="avatar" value="{{user.avatar}}">
        <br>
        <label for="nom">Nom</label>
        <input name="nom" value="{{user.nom}}">
        <br>
        <label for="prenom">Prénom</label>
        <input name="prenom" value="{{user.prenom}}">
        <br>
        <label for="description">Description</label>
        <input name="description" value="{{user.description}}">
        <br>
        <label for="listTelephones">liste de Téléphones</label>
        <div name="listTelephones">
            {% for key,value in user.telephones %}
                <div>
                <label for="telephoneName">Téléphone</label>
                <input name="telephoneName" value="{{value.nom}}">
                <br>
                <label for="telephoneValue">Numéro</label>
                <input name="telephoneValue" value="{{value.telephone}}">
                <br>
                <br>
                </div>
            {% endfor %}
        </div>
        <button id="addTelephone">Ajouter</button>
        <br>
        <label for="listEmails">liste d'Emails</label>
        <div name="listEmails">
            {% for key,value in user.emails %}
                <div>
                <label for="emailName">Email</label>
                <input name="emailName" value="{{value.nom}}">
                <br>
                <label for="emailValue">Adresse</label>
                <input name="emailValue" value="{{value.email}}">
                <br>
                </br>
                </div>
            {% endfor %}
        </div>
        <button id="addEmail">Ajouter</button>
        <br>
        <input type="submit" name="envoyer">
        <br>
        <br>
            <a href="/">retour</a>

        <script>
            document.getElementById('addTelephone').
            addEventListener("click", function(e) {
                e.preventDefault();
                var nbr = document.getElementsByName("listTelephones")[0].childrenElementCount;
                document.getElementsByName("listTelephones")[0].
                innerHTML += `
                    <div>
                    <label for="telephoneName">Téléphone</label>
                    <input name="telephoneName" value="">
                    <br>
                    <label for="telephoneValue">Numéro</label>
                    <input name="telephoneValue" value="">
                    <br>
                    <br>
                    </div>`;
            });
            document.getElementById('addEmail').
            addEventListener("click", function(e) {
                e.preventDefault();
                var nbr = document.getElementsByName("listEmails")[0].childrenElementCount;
                document.getElementsByName("listEmails")[0].
                innerHTML += `
                    <div>
                    <label for="emailName">Email</label>
                    <input name="emailName" value="">
                    <br>
                    <label for="emailValue">Adresse</label>
                    <input name="emailValue" value="">
                    <br>
                    </br>
                    </div>`;
            });
        </script>
    </form>

    </div>

{% endblock %}